main {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.section-primeira {
    height: 75%;
    background-image: url("../../images/about/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1{
        color: $branco;
        font-size: 35px;
    }
}

.section-segunda {
    height: 25%;

    h2{
        color: $roxo;
        font-size: 30px;
    }

    p{
        color: $preto;
    }
}