body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../../images/init/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}