.btn-init{
    border-color: $roxo;
    color: $branco;

    &:hover{
        background: $roxo;
        color: $branco;
        border-color: $roxo;
    }

    &:active {
        background: $roxo !important;
        border-color: $roxo !important;
        box-shadow: none !important;
    } 
}

.btn-bars{
    &:focus{
        box-shadow: none;
    }
}