<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <h1>Bem-vindo ao SITE</h1>
            <p>Escolha uma opção:</p>
            <div class="mt-4">
                <a href="/login" class="btn btn-primary btn-lg">Login</a>
                <a href="/register" class="btn btn-secondary btn-lg ms-3">Registro</a>
            </div>
        </div>
    </div>
</div>